# Academy of Py
### Deductions

- It seems that charter schools are much more successful than district schools not only do they hold the top 5 spots for the best rated schools, but their passing percentage is also above 90 for each subject and overall.
- The size of the school has a detrimental impact on passing percentage as you can see by the chart comparing the groupings of the school. The more students there are per school the lower the passing rate gets.
- The amount of spending per student doesn't have a very large impact on performance as the higher the spending doesnt correlate with higher passing percentage or scores.

In [27]:
import pandas as pd
import numpy as np

In [28]:
#establish file locations
schools = "Resources/schools_complete.csv"
students = "Resources/students_complete.csv"

In [29]:
#read the csv
schools_df = pd.read_csv(schools)
students_df = pd.read_csv(students)
students_df.head()
schools_df

    School ID                   name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [30]:
#merge df
renamed = schools_df.rename(columns={"name":"school"})
merged = pd.merge(renamed, students_df, on="school")
merged

,School ID,school,type,size,budget,Student ID,name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80
7,0,Huang High School,District,2917,1910635,7,Nicole Baker,F,12th,96,69
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87
9,0,Huang High School,District,2917,1910635,9,Matthew Greene,M,10th,96,84
10,0,Huang High School,District,2917,1910635,10,Andrew Alexander,M,10th,90,70
11,0,Huang High School,District,2917,1910635,11,Daniel Cooper,M,10th,78,77
12,0,Huang High School,District,2917,1910635,12,Brittney Walker,F,9th,64,79
13,0,Huang High School,District,2917,1910635,13,William Long,M,9th,71,79
14,0,Huang High School,District,2917,1910635,14,Tammy Hebert,F,10th,85,67
15,0,Huang High School,District,2917,1910635,15,Dr. Jordan Carson,M,11th,94,88
16,0,Huang High School,District,2917,1910635,16,Donald Zamora,M,9th,88,55
17,0,Huang High School,District,2917,1910635,17,Kimberly Santiago,F,9th,74,75
18,0,Huang High School,District,2917,1910635,18,Kevin Stevens,M,9th,64,69
19,0,Huang High School,District,2917,1910635,19,Brandi Lyons,F,9th,89,80
20,0,Huang High School,District,2917,1910635,20,Lisa Davis,F,10th,91,89
21,0,Huang High School,District,2917,1910635,21,Kristen Lopez,F,10th,90,77
22,0,Huang High School,District,2917,1910635,22,Kimberly Stewart,F,11th,99,84
23,0,Huang High School,District,2917,1910635,23,Christopher Parker,M,9th,81,68
24,0,Huang High School,District,2917,1910635,24,Chelsea Griffith,F,11th,85,73
25,0,Huang High School,District,2917,1910635,25,Cesar Morris,M,9th,92,70
26,0,Huang High School,District,2917,1910635,26,Melanie Decker,F,9th,63,85
27,0,Huang High School,District,2917,1910635,27,Tracey Oconnor,F,10th,80,58
28,0,Huang High School,District,2917,1910635,28,Kelly James,F,11th,73,55
29,0,Huang High School,District,2917,1910635,29,Nicole Brown,F,12th,90,88
...,...,...,...,...,...,...,...,...,...,...,...
39140,14,Thomas High School,Charter,1635,1043130,39140,Cheyenne Hernandez,F,9th,76,99
39141,14,Thomas High School,Charter,1635,1043130,39141,Jonathan Sullivan,M,10th,86,93
39142,14,Thomas High School,Charter,1635,1043130,39142,Deborah Higgins DDS,F,10th,96,83
39143,14,Thomas High School,Charter,1635,1043130,39143,Steven Jackson,M,11th,71,93
39144,14,Thomas High School,Charter,1635,1043130,39144,Cristian Webster,M,12th,77,87
39145,14,Thomas High School,Charter,1635,1043130,39145,Audrey Fry,F,10th,94,74
39146,14,Thomas High School,Charter,1635,1043130,39146,Michael Carroll,M,9th,69,95
39147,14,Thomas High School,Charter,1635,1043130,39147,Raymond Hawkins,M,10th,88,81
39148,14,Thomas High School,Charter,1635,1043130,39148,Christopher Wilson,M,10th,89,89
39149,14,Thomas High School,Charter,1635,1043130,39149,Glenda Fletcher,F,11th,82,93
39150,14,Thomas High School,Charter,1635,1043130,39150,Jennifer Hamilton,F,11th,80,75
39151,14,Thomas High School,Charter,1635,1043130,39151,Shannon Williams,F,10th,84,73
39152,14,Thomas High School,Charter,1635,1043130,39152,Lori Moore,F,9th,98,84
39153,14,Thomas High School,Charter,1635,1043130,39153,William Hubbard,M,9th,80,75
39154,14,Thomas High School,Charter,1635,1043130,39154,Bradley Johnson,M,12th,91,71
39155,14,Thomas High School,Charter,1635,1043130,39155,John Brooks,M,10th,92,98
39156,14,Thomas High School,Charter,1635,1043130,39156,Stephanie Contreras,F,11th,79,95
39157,14,Thomas High School,Charter,1635,1043130,39157,Kristen Gonzalez,F,9th,79,94
39158,14,Thomas High School,Charter,1635,1043130,39158,Kari Holloway,F,10th,87,90
39159,14,Thomas High School,Charter,1635,1043130,39159,Kimberly Cabrera,F,11th,85,72
39160,14,Thomas High School,Charter,1635,1043130,39160,Katie Weaver,F,11th,89,86
39161,14,Thomas High School,Charter,1635,1043130,39161,April Reyes,F,10th,70,84
39162,14,Thomas High School,Charter,1635,1043130,39162,Derek Weeks,M,12th,94,77
39163,14,Thomas High School,Charter,1635,1043130,39163,John Reese,M,11th,90,75
39164,14,Thomas High School,Charter,1635,1043130,39164,Joseph Anthony,M,9th,97,76
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [31]:
# Total Schools
total_schools = schools_df["School ID"].count()
total_schools

15

In [32]:
# Total Students
total_students = students_df["Student ID"].count()
total_students

39170

In [33]:
# Total Budget
total_budget = schools_df["budget"].sum()
total_budget

24649428

In [34]:
# Average Math Score
average_math = students_df['math_score'].mean()
average_math

78.98537145774827

In [35]:
# Average Reading Score
average_reading = students_df['reading_score'].mean()
average_reading

81.87784018381414

In [36]:
# % Passing Math
pass_math = (students_df['math_score']>=70).sum()/total_students
pass_math*100

74.980852693387803

In [37]:
# % Passing Reading
pass_reading = (students_df['reading_score']>=70).sum()/total_students
pass_reading*100

85.805463364820014

In [38]:
# Overall Passing Rate (Average of the above two)
pass_overall = (pass_math+pass_reading)/2
pass_overall*100

80.393158029103901

In [39]:
district_overview_df = pd.DataFrame({
    "Total Schools":[total_schools],
    "Total Budget":[total_budget],
    "Total Students":[total_students],
    "Avg Math Score":[average_math],
    "Avg Reading Score":[average_reading],
    "Percentage Passing Math":[pass_math],
    "Percentage Passing Reading":[pass_reading],
    "Percentage Passing Overall":[pass_overall]
})
district_overview_df

,Avg Math Score,Avg Reading Score,Percentage Passing Math,Percentage Passing Overall,Percentage Passing Reading,Total Budget,Total Schools,Total Students
0,78.985371,81.87784,0.749809,0.803932,0.858055,24649428,15,39170

In [40]:
school = schools_df["name"]
school_type = schools_df["type"]
students = schools_df["size"]
budget = schools_df["budget"]
math_average = merged.groupby(["school"])["math_score"].mean()
reading_average = merged.groupby(["school"])["reading_score"].mean()
math_passing = merged[students_df.math_score>=70].groupby('school')['math_score'].count()/merged.groupby(["school"])["Student ID"].count()
math_passing = math_passing *100
reading_passing = merged[students_df.reading_score>=70].groupby('school')['reading_score'].count()/merged.groupby(["school"])["Student ID"].count()
reading_passing = reading_passing*100
overall_passing = (math_passing + reading_passing)/2

school_overview1_df = pd.DataFrame({
    "School":school,
    "School Type":school_type,
    "Total Students":students,
    "Total Budget":total_budget,
    "Budget Per School":budget
})
school_overview2_df = pd.DataFrame({
    "Avg Math Score":math_average,
    "Avg Reading Score":reading_average,
    "Percentage Passing Math":math_passing,
    "Percentage Passing Reading":reading_passing,
    "Percentage Passing Overall":overall_passing
})

school_overview = school_overview1_df.join(school_overview2_df,on='School',how='inner')
school_overview

,Budget Per School,School,School Type,Total Budget,Total Students,Avg Math Score,Avg Reading Score,Percentage Passing Math,Percentage Passing Overall,Percentage Passing Reading
0,1910635,Huang High School,District,24649428,2917,76.629414,81.182722,65.683922,73.500171,81.316421
1,1884411,Figueroa High School,District,24649428,2949,76.711767,81.158020,65.988471,73.363852,80.739234
2,1056600,Shelton High School,Charter,24649428,1761,83.359455,83.725724,93.867121,94.860875,95.854628
3,3022020,Hernandez High School,District,24649428,4635,77.289752,80.934412,66.752967,73.807983,80.862999
4,917500,Griffin High School,Charter,24649428,1468,83.351499,83.816757,93.392371,95.265668,97.138965
5,1319574,Wilson High School,Charter,24649428,2283,83.274201,83.989488,93.867718,95.203679,96.539641
6,1081356,Cabrera High School,Charter,24649428,1858,83.061895,83.975780,94.133477,95.586652,97.039828
7,3124928,Bailey High School,District,24649428,4976,77.048432,81.033963,66.680064,74.306672,81.933280
8,248087,Holden High School,Charter,24649428,427,83.803279,83.814988,92.505855,94.379391,96.252927
9,585858,Pena High School,Charter,24649428,962,83.839917,84.044699,94.594595,95.270270,95.945946
10,1049400,Wright High School,Charter,24649428,1800,83.682222,83.955000,93.333333,94.972222,96.611111
11,2547363,Rodriguez High School,District,24649428,3999,76.842711,80.744686,66.366592,73.293323,80.220055
12,3094650,Johnson High School,District,24649428,4761,77.072464,80.966394,66.057551,73.639992,81.222432
13,1763916,Ford High School,District,24649428,2739,77.102592,80.746258,68.309602,73.804308,79.299014
14,1043130,Thomas High School,Charter,24649428,1635,83.418349,83.848930,93.272171,95.290520,97.308869

In [41]:
top5_df = school_overview.sort_values("Percentage Passing Overall", ascending=False)
top5_df = top5_df.head()
top5_df

,Budget Per School,School,School Type,Total Budget,Total Students,Avg Math Score,Avg Reading Score,Percentage Passing Math,Percentage Passing Overall,Percentage Passing Reading
6,1081356,Cabrera High School,Charter,24649428,1858,83.061895,83.975780,94.133477,95.586652,97.039828
14,1043130,Thomas High School,Charter,24649428,1635,83.418349,83.848930,93.272171,95.290520,97.308869
9,585858,Pena High School,Charter,24649428,962,83.839917,84.044699,94.594595,95.270270,95.945946
4,917500,Griffin High School,Charter,24649428,1468,83.351499,83.816757,93.392371,95.265668,97.138965
5,1319574,Wilson High School,Charter,24649428,2283,83.274201,83.989488,93.867718,95.203679,96.539641

In [42]:
bottom5_df = school_overview.sort_values("Percentage Passing Overall", ascending=True)
bottom5_df = bottom5_df.head()
bottom5_df

,Budget Per School,School,School Type,Total Budget,Total Students,Avg Math Score,Avg Reading Score,Percentage Passing Math,Percentage Passing Overall,Percentage Passing Reading
11,2547363,Rodriguez High School,District,24649428,3999,76.842711,80.744686,66.366592,73.293323,80.220055
1,1884411,Figueroa High School,District,24649428,2949,76.711767,81.158020,65.988471,73.363852,80.739234
0,1910635,Huang High School,District,24649428,2917,76.629414,81.182722,65.683922,73.500171,81.316421
12,3094650,Johnson High School,District,24649428,4761,77.072464,80.966394,66.057551,73.639992,81.222432
13,1763916,Ford High School,District,24649428,2739,77.102592,80.746258,68.309602,73.804308,79.299014

In [43]:
ninth = merged[(merged["grade"] == "9th")]
tenth = merged[(merged["grade"] == "10th")]
eleventh = merged[(merged["grade"] == "11th")]
twelfth = merged[(merged["grade"] == "12th")]

ninthscore = ninth.groupby("school")["math_score"].mean()
tenthscore = tenth.groupby("school")["math_score"].mean()
eleventhscore = eleventh.groupby("school")["math_score"].mean()
twelfthscore = twelfth.groupby("school")["math_score"].mean()

mathscores=pd.DataFrame({
    "9th":ninthscore,
    "10th":tenthscore,
    "11th":eleventhscore,
    "12th":twelfthscore
})
mathscores

                            10th       11th       12th        9th
school
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

In [44]:
ninereading = ninth.groupby("school")["reading_score"].mean()
tenreading = tenth.groupby("school")["reading_score"].mean()
elevenreading = eleventh.groupby("school")["reading_score"].mean()
twelvereading = twelfth.groupby("school")["reading_score"].mean()

readingscores=pd.DataFrame({
    "9th":ninereading,
    "10th":tenreading,
    "11th":elevenreading,
    "12th":twelvereading
})
readingscores

                            10th       11th       12th        9th
school
Bailey High School     80.907183  80.945643  80.912451  81.303155
Cabrera High School    84.253219  83.788382  84.287958  83.676136
Figueroa High School   81.408912  80.640339  81.384863  81.198598
Ford High School       81.262712  80.403642  80.662338  80.632653
Griffin High School    83.706897  84.288089  84.013699  83.369193
Hernandez High School  80.660147  81.396140  80.857143  80.866860
Holden High School     83.324561  83.815534  84.698795  83.677165
Huang High School      81.512386  81.417476  80.305983  81.290284
Johnson High School    80.773431  80.616027  81.227564  81.260714
Pena High School       83.612000  84.335938  84.591160  83.807273
Rodriguez High School  80.629808  80.864811  80.376426  80.993127
Shelton High School    83.441964  84.373786  82.781671  84.122642
Thomas High School     84.254157  83.585542  83.831361  83.728850
Wilson High School     84.021452  83.764608  84.317673  83.939778
Wright High School     83.812757  84.156322  84.073171  83.833333

In [45]:
budget_per_student = budget/students
bins = [0,585,615,645,675]
labels = ["<585","585-615","615-645","645-675"]
school_overview["Spending Ranges"] = pd.cut(budget_per_student,bins,labels=labels)

spendingmath = school_overview.groupby("Spending Ranges").mean()["Avg Math Score"]
spendingreading = school_overview.groupby("Spending Ranges").mean()["Avg Reading Score"]
spendingmathpass = school_overview.groupby("Spending Ranges").mean()["Percentage Passing Math"]
spendingreadpass = school_overview.groupby("Spending Ranges").mean()["Percentage Passing Reading"]
spendingoverallpass = (spendingmath+spendingreading)/2

spending_summary = pd.DataFrame({
    "Average Math Score":spendingmath,
    "Average Reading Score":spendingreading,
    "Passing Math":spendingmathpass,
    "Passing Reading":spendingreadpass,
    "Passing Overall":spendingoverallpass
})
spending_summary

,Average Math Score,Average Reading Score,Passing Math,Passing Overall,Passing Reading
Spending Ranges,,,,,
585-615,83.599686,83.885211,94.230858,83.742449,95.900287
615-645,79.079225,81.891436,75.668212,80.485330,86.106569
645-675,76.997210,81.027843,66.164813,79.012526,81.133951
<585,83.455399,83.933814,93.460096,83.694607,96.610877

In [54]:
sizebins = [0,2000,4000,6000]
sizelabels = ["Small <2000","Medium 2000-4000","Large >4000"]
school_overview["Size Type"]=pd.cut(students,sizebins,labels=sizelabels)

sizemath = school_overview.groupby("Size Type").mean()["Avg Math Score"]
sizeread = school_overview.groupby("Size Type").mean()["Avg Reading Score"]
sizemathpass = school_overview.groupby("Size Type").mean()["Percentage Passing Math"]
sizereadpass = school_overview.groupby("Size Type").mean()["Percentage Passing Reading"]
sizeoverallpass = (sizemathpass+sizereadpass)/2

size_summary = pd.DataFrame({
    "Average Math Score":sizemath,
    "Average Reading Score":sizeread,
    "Passing Math":sizemathpass,
    "Passing Reading":sizereadpass,
    "Passing Overall":sizeoverallpass
})
size_summary

,Average Math Score,Average Reading Score,Passing Math,Passing Overall,Passing Reading
Size Type,,,,,
Large >4000,77.136883,80.978256,66.496861,73.918215,81.339570
Medium 2000-4000,78.112137,81.564235,72.043261,77.833067,83.622873
Small <2000,83.502373,83.883125,93.585560,95.089371,96.593182

In [65]:
mathtype = school_overview.groupby("School Type")["Avg Math Score"].mean()
readingtype = school_overview.groupby("School Type")["Avg Reading Score"].mean()
passmathtype = school_overview.groupby("School Type")["Percentage Passing Math"].mean() 
passreadtype = school_overview.groupby("School Type")["Percentage Passing Reading"].mean()
passoveralltype = (passmath+passread)/2

type_df = pd.DataFrame({
    "Average Math Score":mathtype,
    "Average Reading Score":readingtype,
    "Passing Math":passmathtype,
    "Passing Reading":passreadtype,
    "Passing Overall":passoveralltype
})
type_df

,Average Math Score,Average Reading Score,Passing Math,Passing Overall,Passing Reading
School Type,,,,,
Charter,83.473852,83.896421,93.620830,95.103660,96.586489
District,76.956733,80.966636,66.548453,73.673757,80.799062